<% include ../partials/header%>
<div class="ui main text container">
    <div class="ui huge header">
        <%=blog.title%>
    </div>
    <div class="ui top attached segment">
        <div class="ui black ribbon label">Submitted By
            <%=blog.author.username%>
        </div>
        <div class="item">
            <img class="ui Fluid rounded image" src="<%= blog.image %>">
            <div class="content">
                <span>
                    <%=blog.created.toDateString()%>
                </span>
            </div>
            <div class="description">
                <p>
                    <%-blog.body%>
                </p>
            </div>
            <%if (currentUser && blog.author.id.equals(currentUser._id)){%>
            <div class="ui buttons">
                <a class="ui positive button" href="/blogs/<%=blog._id%>/edit">Edit</a>
                <div class="or"></div>
                <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                    <button class="ui negetive button">Delete</button>
                </form>
            </div>
            <%}%>
        </div>
    </div>
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <% blog.comments.forEach(function(comment){ %>
        <div class="comment">
            <div class="content">
                <a class="author">
                    <%=comment.author.username%></a>
                <div class="metadata">
                    <span class="date">
                        <%=comment.created.toDateString()%></a></span>
                </div>
                <div class="text">
                    <%=comment.text%></a>
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
        <%})%>
    </div>

    <a class="ui blue submit icon button" href="/blogs/<%=blog._id%>/comments/new">
        <i class="icon edit"></i> New Comment
    </a>
</div>
</div>

<% include ../partials/footer%>